::ng-deep .modaldialog .modal-dialog{
    max-width: 800px;
    width: 800px;
    max-height: 800px;
    height: 800px;


}
.mat-column-number{
    max-width: 80px;
}
.mat-column-nonce{
    max-width: 60px;
}
label{
    color: red;
}